.App {
  padding: 1em;
}

.website-app .mantine-AppShell-main::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.website-app .mantine-AppShell-main {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
