# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
dashboard/packages/**/yarn.lock
dashboard/packages/**/stats.html

.env

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/

_build

api/src/preset/data_sources/config.json
api/src/preset/custom_functions/config.js
api/src/preset/sql_snippets/config.json
api/src/preset/dashboards
api/src/services/query_cache

api/.jest_cache
api/coverage*