table {
  width: fit-content;
}

tr {
  width: fit-content;
}
th {
  position: relative;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  /* height: 100%; */
  /* width: 5px; */
  /* background: rgba(0, 0, 0, 0.3); */
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  color: #228be6;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    color: #228be6;
    opacity: 1;
  }
}
