PG_URL=postgresql://postgres:postgres@127.0.0.1/dashboard
SERVER_PORT=31200
CORS_ALLOW_ORIGIN=

#Postgres data source configurations. Separate entries with ;
#PG_DATA_SOURCE_KEY is used for giving each connection a unique key for the client to reference.
PG_DATA_SOURCE_KEY=aa;bb
PG_DATA_SOURCE_HOST=127.0.0.1;127.0.0.2
PG_DATA_SOURCE_PORT=5432:5432
PG_DATA_SOURCE_USERNAME=postgres;postgres
PG_DATA_SOURCE_PASSWORD=postgres;postgres
PG_DATA_SOURCE_DATABASE=db1;db2