DATA_SOURCE_PG_USER=postgres
DATA_SOURCE_PG_PASSWORD=password
DATA_SOURCE_PG_HOST=127.0.0.1
DATA_SOURCE_PG_PORT=5432
DATA_SOURCE_PG_DATABASE=metrics

PG_USER=postgres
PG_PASSWORD=password
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=dashboard
