.dashboard-root {
  overflow: scroll;
  padding: 0 10px 10px;
  height: 100%;
}

.dashboard-sticky-area {
  z-index: 100;
  background: white;
  margin: 0;
  padding: 0 10px;
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.minimal-monaco-editor {
  border-radius: 4px;
  overflow: hidden;
  background-color: #1e1e1e;
  padding-top: 14px;
}
.minimal-monaco-editor .monaco-editor {
}
