.panel-root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: transparent;
  border-radius: 4px;
  position: relative;
}

.panel-title-wrapper {
  padding: 16px 32px;
}
.panel-title-wrapper .panel-title-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.panel-description-popover-wrapper {
  position: absolute;
  left: 16px;
  top: 16px;
  height: 28px;
  z-index: 310;
}

.panel-dropdown-target {
  width: 100%;
  height: 60px;
  text-align: center;
  transition: background-color 300ms ease;
}
.panel-dropdown-target:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.05);
}
