.panel-root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: transparent;
  border-radius: 4px;
  position: relative;
}

.panel-title-wrapper {
  padding: 16px 32px;
}

.panel-title-wrapper .panel-title-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.panel-description-popover-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 28px;
  z-index: 410;
}

.panel-root.panel-root--show-title .panel-title-dragarea {
  height: 60px;
}

.panel-root.panel-root--show-title .panel-description-popover-wrapper {
  left: 16px;
  top: 16px;
}

.panel-root.panel-root--show-title .panel-description-popover-wrapper {
  left: 16px;
  top: 16px;
}

.panel-top-right-actions {
  top: 0;
  right: 0;
}

.panel-root.panel-root--show-title .panel-top-right-actions {
  top: 16px;
  right: 16px;
}

.panel-root:not(.panel-root--show-title)
  .panel-top-right-actions:has(div[id^='panel-addon-slot-']:empty)
  ~ .panel-viz-section {
  height: 100%;
}

.panel-root .panel-viz-section {
  height: 100%;
}

.panel-root.panel-root--show-title .panel-viz-section {
  height: calc(100% - 60px);
}
