.panel-root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: transparent;
  border-radius: 4px;
  position: relative;
}

.panel-settings-tabs {
  width: 100%;
  height: 100%;
}
.panel-settings-tabs .mantine-Tabs-panel {
  height: calc(100% - 25px);
}
.panel-settings-tabs .mantine-Tabs-tabsListWrapper {
  flex: 0;
}
.panel-settings-tabs .mantine-Tabs-body {
  flex: 1;
  overflow: scroll;
}
