.menu_target:global(.mantine-ActionIcon-root) {
  width: 40px;
  height: 100%;
  min-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}

.query:global(.mantine-NavLink-root) {
  padding: 0;
}

.query :global(.mantine-NavLink-body) {
  padding: 9px 6px 9px 12px;
}
.query :global(.mantine-NavLink-label) {
  display: block;
  width: calc(100% - 40px);
  word-break: break-all;
}

.query :global(.mantine-NavLink-section) {
  margin-left: 0px;
}
